.topbar{
    background-color: #000;
    height:50px;
}

.btn-info {
    color: #9d9d9d;
    background-color: transparent;
    border: none;
}
.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
    top: 10px;

}
.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #9d9d9d;
    left: initial;
    font-size: 14px;
    font-weight: bold;
    background-color:transparent;

}

.glyphicon-shopping-cart{
    margin-top: 8px;
    color: #9d9d9d;
    font-size: 33px;
}

.badge-notify{
    background:red;
    position:relative;
    top: -20px;
    right: 10px;
}
.my-cart-icon-affix {
    position: fixed;
    z-index: 999;
}




.brand > img{padding: 40px 0px;

}

.navbar-default{
    background: none;
    border: none;
    text-align: center;
    font-weight: bold;
    color: #9d9d9d;
    line-height: 1.7em;
    padding-left:210px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
    background-color:transparent;
    color: #F15911;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #F15911;}









.icon-small
{
    height:18px;
    margin:0;
    padding:0;
}

.icon-medium
{
    height:22px;
    margin:0;
    padding:0;
}



#myCarousel .carousel-caption{
    margin: 0 0 80px 450px;
}
#myCarousel .carousel-caption h5{
    color: #252525;
}
#myCarousel .carousel-caption h2{
    font-size: 40px;
    color: #252525;
}

#myCarousel .carousel-caption h2 span{
    color: #f26522;
}
#myCarousel .carousel-caption p{
    color: #7a8288;
    font-size: 12px;
    font-weight: normal;
}
#myCarousel .carousel-caption a{
    border: 2px solid #898989;
    background-color: #f6f6f8;
    color: #a7b5c0;
    font-weight: bold;
}

#itemType .thumbnail{
    margin-top: 10px;
    border:none;
    padding-bottom: 25px;
}

#itemType .thumbnail img {
    margin-left: 0;
    width: 350px;
    height: 172px;
}


#itemType .thumbnail .caption{
    margin-left: 195px;
    margin-top: -100px;
    height: 100px;
}
#itemType .thumbnail .caption a{
    color: #1c1e22;
}
.thumbnail .T-SHART{
    background: none;
    border: ;

}
.thumbnail{
    border: none;
}
.image{
    margin: 0 auto;
    padding: 50px 0;
}
.reponsive {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.reponsive .overlay {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 55%;
    height: 50%;
    left: 22%;
    top: 30%;
    border-radius: 80%;
    border: 2px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(50%,50%,0);
    transform: translate3d(50%,50%,0);
}

.reponsive:hover .overlay {
    background-color: rgba(0,0,0,0.3);
}

.reponsive img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.reponsive:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.4" /><feFuncG type="linear" slope="1.4" /><feFuncB type="linear" slope="1.4" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(1.4);
    -webkit-filter: brightness(1.4);
}



.reponsive a, .reponsive p {
    color: #f26522;
    padding: 4em 0 2em;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-150%,-400%,0);
    transform: translate3d(-150%,-400%,0);
}

.reponsive:hover a, .reponsive:hover p, .reponsive:hover h2, .reponsive:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#new{
    padding:10px;
}

.col-item
{
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}
.col-item:hover .info {
    background-color: rgba(215, 215, 244, 0.5);
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #00990E;
}

.col-item .info .rating
{
    color: #003399;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #FFCCCC;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #CC9999;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
    position: relative;
    left: 535px;
    bottom: 10px;
}

[data-slide="prev"]
{
    margin-right: 10px;
}

#featuredtop {
    width:150px;
    margin: auto;}

#featuredtop > h4{
    border-bottom:2px solid black;
    font-weight:bold;
}

/*features css goes here*/
#features{
    border-bottom: 1px solid #CCC;
    padding:0 0 20px 0;;

}

#features i {
    height: 25px;
    width: 25px;
    background-color: #CCC;
    border: 1px solid transparent;
    border-radius: 50%;
}

#features i:hover {
    background-color:#0C3;
}

#features:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

#features p>i {
    color: #666;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: 55px;
    top: 6px
}

#features p > span{
    color:#f26522;
}

#features > div > div:nth-child(3) > p.pull-left > i{
    position: relative;
    left: 35px;
    top: 6px
}

#features > div > div:last-child> p.pull-left > i {
    position: relative;
    left: 35px;
    top: 6px
}

#features h5 {
    font-weight: bold;
}

#partner{
    padding: 20px;
    background-color: #ececec;
}


#featured{
    padding:10px;
}

.col-item
{
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}
.col-item:hover .info {
    background-color: rgba(215, 215, 244, 0.5);
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #00990E;
}

.col-item .info .rating
{
    color: #003399;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #FFCCCC;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #CC9999;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
    position: relative;
    left: 535px;
    bottom: 10px;
}

[data-slide="prev"]
{
    margin-right: 10px;
}

#featuredheading {
    width:150px;
    margin: auto;}

#featuredheading > h4{
    border-bottom:2px solid black;
    font-weight:bold;
}

/*features css goes here*/
#features{
    border-bottom: 1px solid #CCC;
    padding:0 0 20px 0;;

}

#features i {
    height: 25px;
    width: 25px;
    background-color: #CCC;
    border: 1px solid transparent;
    border-radius: 50%;
}

#features i:hover {
    background-color:#0C3;
}

#features:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

#features p>i {
    color: #666;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: 55px;
    top: 6px
}

#features p > span{
    color:#f26522;
}

#features > div > div:nth-child(3) > p.pull-left > i{
    position: relative;
    left: 35px;
    top: 6px
}

#features > div > div:last-child> p.pull-left > i {
    position: relative;
    left: 35px;
    top: 6px
}

#features h5 {
    font-weight: bold;
}

/*poster*/
#poster {
    padding: 20px 0;
}
#leather .thumbnail .caption p{
    font-size: 12px;
    color: #9797a9;
}
#leather .thumbnail .caption >h6>.fa{
    padding: 20px;
    border: 1px solid;
    border-radius: 50%;
}


/*Man & Woman*/

#manAndWoman {
   margin-top: 80px;
}
.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
}

.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
}

.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}

#partner{
    margin-top: 150px;
}
/*footer goes here*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#252525; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color: #a0a3a4; font-size:14px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;
                line-height: 1.6em;}
.footerleft p i { width:20px; #a0a3a4;}

.footerleft p a{
    font-size: 16px;
    text-decoration: none;
    color: #ff670f;
}

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";

.social {
    margin: 0;
    padding: 0;
    border-top: 2px solid;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 25px;
    height: 25px;
    color: #252525;
    background-color: #909AA0;
    font-size: 18px;
    text-align:center;
    border-radius:8%;
    padding-top:8px;
    -moz-border-radius:8%;
    -webkit-border-radius:8%;
    -o-border-radius:8%;
}

.social i:hover {
    color: #FFF;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-google-plus:hover {
    background: #e64522;
}

.social .fa-github:hover {
    background: #343434;
}

.social .fa-pinterest:hover {
    background: #cb2027;
}

.social .fa-linkedin:hover {
    background: #0094BC;
}

.social .fa-flickr:hover {
    background: #FF57AE;
}

.social .fa-instagram:hover {
    background: #375989;
}

.social .fa-vimeo-square:hover {
    background: #83DAEB;
}

.social .fa-stack-overflow:hover {
    background: #FEA501;
}

.social .fa-dropbox:hover {
    background: #017FE5;
}

.social .fa-tumblr:hover {
    background: #3a5876;
}

.social .fa-dribbble:hover {
    background: #F46899;
}

.social .fa-skype:hover {
    background: #00C6FF;
}

.social .fa-stack-exchange:hover {
    background: #4D86C9;
}

.social .fa-youtube:hover {
    background: #FF1F25;
}

.social .fa-xing:hover {
    background: #005C5E;
}

.social .fa-rss:hover {
    background: #e88845;
}

.social .fa-foursquare:hover {
    background: #09B9E0;
}

.social .fa-youtube-play:hover {
    background: #DF192A;
}


.item{color:#48453d; overflow:hidden;margin-top: -10px;}
.block-title{ font-size:21px; font-weight:700; color:#d9d6d6;}
.item-content-block{padding:20px; background-color:#252525; display:block;}
.tags a{border:2px solid #353535; padding:10px; color:#d9d9d9; display:inline-block; font-size:11px; text-transform:uppercase; line-height:11px; border-radius:2px; margin-bottom:5px; margin-right:2px; text-decoration:none;}
.tags a:hover{color:#ff670f;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }





.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
.icon-ul li { line-height:75px; width:100%; float:left;}
.icon { float:left; margin-right:5px;}

.tags{
    padding: 0px;
}
#custom-search-input{
    border-top: 2px solid;
    padding-top: 25px;
}
.copyright { min-height:40px; background-color:#000000;}
.copyright p { text-align:left; #a0a3a4; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}
/*custom responsive*/
@media (min-width: 320px) and (max-width: 480px) {
    .brand > img{
        padding: 0px;
    }
    .navbar-default{
        padding: 0px;
        margin-top: -55px;
    }
    .navbar-default .navbar-nav > .active > a:hover{
        background: none;
        color: #F15911;
    }

    .search-form .form-group:hover, .search-form .form-group.hover{
        width: 80%;
    }
    .container{
        padding-left: 0px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
        color: #f15911;
    }

    .product{
     padding-left:10px;
    }

    #partner{
        padding-left: 50px;
    }

    .col-item> img{
        margin-left:25px;
        margin-top: 10px;
    }
}



@media (min-width: 768px) and (max-width: 1024px) {
    .brand > img{
        margin-left: 240px;
    }
    .navbar-default{
        padding: 0px;
        margin-left: 70px;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background: none;
    }
    .search-form .form-group:hover,
    .search-form .form-group.hover{
        width: 50%;
    }

    .controls{
        left: 330px;
    }
    .col-item> img{
        margin-left:30px;
        margin-top: 10px;
    }
    }
    .image > a{
        width: 100%;
    }

}